<br><br>

<div class="row" style="margin-left: 30px">
  <div class="col-sm-8">
    <h4> Chi Tiết  Sách! </h4>
  </div>
  <div class="col-sm-4">
    <button [routerLink]="['/list']" >Xem danh sách </button>
  </div>
<div>
  <h6>{{message}}</h6>
</div>
<br>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Tên Sách: </th>
    <td>{{book.title}}</td>
  </tr>
  <tr>
    <th scope="col">Tác Giả: </th>
    <td>{{book.author}}</td>
  </tr>
  <tr>
    <th scope="col">Mô tả: </th>
    <td>{{book.description}}</td>
  </tr>
  </thead>

</table>
  <div class="col-sm-8">
    <button type="submit" class="btn btn-primary" (click)="deleteBook()"> Xoá </button>
  </div>
  <div class="col-sm-4">
    <button type="submit" class="btn btn-primary" [routerLink]="['/list']">Thoát</button>
  </div>

</div>
